

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  position: relative;
}

.card .btn-primary {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  display: block;
}

.card-img-top1 {
  height: 200px;
  width: 225px;
}
